* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  
}

body {
  font-family: Georgia, Times, "Times New Roman";
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff; 
}

h1 {
  font-size: 2em;
  display: block;
}

header {
  display: flex; 
  justify-content: center;
  padding: 20px; 
  border-bottom: 5px double white;
  margin-bottom: 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px 0; 
  justify-content: center;
}

.navigation-items {
  display: flex; 
  list-style-type: none;

}

ul {
  margin-block: 1em 1em;
  margin-inline: 0px 0px; 
  padding-inline-start: 40px;
}

.nav-item {
  margin: 10px; 

}

li {
  display: list-item; 
  text-align: justify;
  list-style-type: none;
}

/*  
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%;
  background-color: #333;
  font-size: 1.5rem;
  
}

.navigation-items {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  
}

li {
  display: inline;
}

a {
  display: block;
  padding: 10px 50px; 
  font-size: 1.2rem;
  background-color: wheat;
}  */
/*
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: block; 
  margin: 0.5rem; 
  
}

main {
  margin-top: 200px;
} */
